<!--
    
Name:   KIM Jong Un
Email:  kim.jongun.2020

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- DO NOT REMOVE
         REFERENCE TO VUE 3 JAVASCRIPT
    -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- DO NOT REMOVE
         REFERENCE TO LOCAL BOOTSTRAP CSS
    -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <!-- SCRIPT FOR D3 LIBRARY -->
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="flipboard.css">
    <script src="https://kit.fontawesome.com/dd348bbd0a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">

    <!-- script for fligthDelay.js -->
    <!-- <script src="flightDelay.js"></script> -->
    <!-- external reference styles.css -->
    <link rel="stylesheet" href="styles.css">

    <title>Q4 - Party</title>
</head>

<body>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main App -->
    <div id="app" class="container-fluid">
        <div class="departure-board container-fluid">
            <!-- <span class="letter letter-A"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-L"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-N"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-blank"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-V"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-W"></span>
            <span class="letter letter-blank"></span>
            <span class="letter letter-D"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-P"></span>
            <span class="letter letter-A"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-T"></span>
            <span class="letter letter-U"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-blank"></span>
            <span class="letter letter-B"></span>
            <span class="letter letter-O"></span>
            <span class="letter letter-A"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-D"></span> -->
            <!-- repeat with Revolutioning Air Travel -->
            <span class="letter letter-R"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-V"></span>
            <span class="letter letter-O"></span>
            <span class="letter letter-L"></span>
            <span class="letter letter-U"></span>
            <span class="letter letter-T"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-O"></span>
            <span class="letter letter-N"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-N"></span>
            <span class="letter letter-G"></span>
            <span class="letter letter-blank"></span>
            <span class="letter letter-A"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-blank"></span>
            <span class="letter letter-T"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-A"></span>
            <span class="letter letter-V"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-L"></span>

        </div>

        <div class="container-fluid">
            <button @click="showDiv('divA')" class="btn btn-primary">Introduction</button>
            <button @click="showDiv('divB')" class="btn btn-primary">Motivations</button>

            <div v-if="currentDiv === 'divA'">
                <div class="card">
                    <div style="display: flex; justify-content: center; align-items: center; ">
                        <img src="./images/airport.png" class="card-img-top" alt="..." style="width: 40%;">
                    </div>

                    <div class="card-body">
                        <p class="card-text">Air travel has seen many transformations over the decades. From the rise of
                            in-flight entertainment, to heightened security measures from the effects of the 11
                            September 2001 attacks to the popularity of long-haul flights, these are some of the dynamic
                            changes that the air travel industry faced, partly because of the changing passengers’
                            needs. The recent COVID-19 pandemic is of no difference. It has changed the passengers’
                            preference to flight experiences, with a much significant emphasis on health and safety. [1]
                            This paradigm shift not only underscores the adaptability of the aviation industry but also
                            raises questions about the future of travel in a world forever altered by the pandemic.</p>

                    </div>
                </div>
            </div>
            <div v-if="currentDiv === 'divB'">
                <div class="card">
                    <div style="display: flex; justify-content: center; align-items: center; ">
                        <img src="./images/airport.png" class="card-img-top" alt="..." style="width: 40%;">
                    </div>

                    <div class="card-body">
                        <p class="card-text">
                            The motivation behind this research endeavour lies in the profound impact that evolving
                            passenger
                            preferences have on the air travel industry and, ultimately, on the travel experiences of
                            millions
                            worldwide. With each passing year, the industry witnesses shift in priorities, influenced by
                            factors
                            ranging from technological advancements to global events like the COVID-19 pandemic.
                            Understanding
                            these shifts is vital for airlines, airports, and travellers alike. For airlines and
                            airports, it
                            means aligning their services and offerings with the evolving needs of their clientele. For
                            travellers, it means making informed decisions that prioritize their safety, comfort, and
                            overall
                            satisfaction.


                        </p>
                        <p class="card-text">
                            This research seeks to address this critical intersection between passenger preferences and
                            the aviation industry's strategies. By providing a comprehensive visualization that unravels
                            these shifts over time, we empower travellers with invaluable insights to make well-informed
                            decisions and develop contingency plans when booking their next flight. In a world where air
                            travel plays an increasingly integral role, this research serves as a beacon, guiding both
                            industry stakeholders and passengers towards a more seamless and tailored travel experience.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <!-- PASSENGER DEMOGRAPHIC DIV -->
    <div class="container-fluid passenger-demographic">
        <h2>Passenger Demographic</h2>
        <div class="row" style="border: 2px solid red;">
            <div class="col-6">
                <p>This is a paragraph</p>
            </div>

            <!-- FIRST PIE CHART -->
            <div class="col-6 row">
                <div class="col-6" id="piechartone" style="border: 2px solid red;">
                    Age Range:
                    <select id="ageBinDropdown_one">
                        <option value="0-9">0-9</option>
                        <option value="10-19">10-19</option>
                        <option value="20-29">20-29</option>
                        <option value="30-39">30-39</option>
                        <option value="40-49">40-49</option>
                        <option value="50-59">50-59</option>
                        <option value="60-69">60-69</option>
                        <option value="70-79">70-79</option>
                        <option value="80+">80+</option>
                    </select>

                    <div id="chart_one"></div>

                </div>

                <!-- SECOND PIE CHART -->
                <div class="col-6" id="piecharttwo">
                    Age Range:
                    <select id="ageBinDropdown_two">
                        <option value="0-9">0-9</option>
                        <option value="10-19">10-19</option>
                        <option value="20-29">20-29</option>
                        <option value="30-39">30-39</option>
                        <option value="40-49">40-49</option>
                        <option value="50-59">50-59</option>
                        <option value="60-69">60-69</option>
                        <option value="70-79">70-79</option>
                        <option value="80+">80+</option>
                    </select>
                    <div id="chart_two"></div>
                </div>

            </div>

            <!-- FOR BAR CHART -->
            <div class="col-6 row">
                <div class="col-12">
                    <svg width="800" height="400" id="bar-chart"></svg>
                </div>
            </div>
        </div>

    </div>

    <!-- PASSENGER SATISFACTION DIV -->
    <div class="container-fluid passenger-satisfaction">
        <h2>Passenger Satisfaction</h2>


        <p>This is a paragraph</p>





        <div class='tableauPlaceholder' id='viz1698669550215' style='position: relative'><noscript><a href='#'><img
                        alt='Passenger Satisfaction '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;PassengerSatisfaction_16986690189030&#47;PassengerSatisfaction&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='PassengerSatisfaction_16986690189030&#47;PassengerSatisfaction' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;PassengerSatisfaction_16986690189030&#47;PassengerSatisfaction&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>



    </div>

    <div class="container-fluid airline-delay">
        <h2>Airline Delay</h2>
        <div class="row">
            <div class="col-6">
                <p>This is a paragraph</p>
            </div>
            <div class="col-6">
                <div id="chart-container"></div>
            </div>
        </div>

        <div class="container justify-content-center">
            <div class='tableauPlaceholder' id='viz1698841248199' style='position: relative'><noscript><a href='#'><img
                            alt='Dashboard 1 '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Project_16988363476220&#47;Dashboard1&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Project_16988363476220&#47;Dashboard1' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Project_16988363476220&#47;Dashboard1&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en-US' />
                </object>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <svg class="chart"></svg>
            </div>
            <div class="col-6">
                <p>This is a paragraph</p>
            </div>
        </div>

    </div>

    <div class="container-fluid airline-review">
        <h2>Airline Review</h2>
        <p>This is a paragraph</p>
        <div class='tableauPlaceholder' id='viz1698842502636' style='position: relative'><noscript><a href='#'><img
                        alt='Airline Dashboard '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ai&#47;Airline_review_16988422680820&#47;AirlineDashboard&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Airline_review_16988422680820&#47;AirlineDashboard' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ai&#47;Airline_review_16988422680820&#47;AirlineDashboard&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
            </object></div>


    </div>

    <div class="container-fluid">
        <h1 class="text-start fw-bold">Conclusion</h1>
        <p>
            Based on our observation on the visualizations, our team identified the following potential opportunities
            for the aviation industry to improve their offerings and optimize future investment on services that has the
            greater impact on travellers’ experience and satisfaction.
        </p>
        <p>
            Increase effort on maintenance and offerings for economy class flights during June and July period. We
            observed that during this period every year, there is a substantial increase in the number of economy class
            flights being sold by the airlines. From another visualization on travellers’ satisfaction, the team noted
            that travellers are least satisfied on short and medium haul economy class flights. With more travellers
            during the June and July period, if airlines improve their economy class offerings and quality during these
            periods, they can greatly improve a large number of travellers’ experience and vastly improve their overall
            ratings.
        </p>
        <p>
            Create family packages for flights to popular destinations during the June to July period. We observed that
            during these periods, in addition to the increase in the number of economy class flights, the visualizations
            also indicated a substantial increase in family travellers during this period. By offering dedicated family
            packages, the airlines can simplify the booking process and also gain better control over standardizing
            in-flight services and amenities. This approach minimizes the need for individualized requests, thus
            enhancing efficiency and enabling airlines to provide a consistent, high-quality travel experience for the
            families.

        </p>
    </div>


    </div><!-- [Main App] end-container-->


    <!-- DO NOT REMOVE
         REFERENCE TO LOCAL BOOTSTRAP JAVASCRIPT
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>



    <!-- DO NOT REMOVE
         REFERENCE TO LOCAL EXTERNAL JAVASCRIPT
     -->
    <script src="index.js"></script>
    <script src="flightClass.js"></script>
    <script src="classByAge.js"></script>
    <script src="flightStatusByContinent.js"></script>



</body>

</html>