<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- DO NOT REMOVE
         REFERENCE TO VUE 3 JAVASCRIPT
    -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <!-- DO NOT REMOVE
         REFERENCE TO LOCAL BOOTSTRAP JAVASCRIPT
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <!-- SCRIPT FOR D3 LIBRARY -->
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="flipboard.css">
    <script src="https://kit.fontawesome.com/dd348bbd0a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">

    <!-- external reference styles.css -->
    <link rel="stylesheet" href="styles.css">

    <title>Revolutionising Air Travel</title>
</head>

<body>

    <!-- Main App -->
    <div id="app" class="container">
        <div class="departure-board container-fluid">
            <!-- repeat with Revolutioning Air Travel -->
            <span class="letter letter-R"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-V"></span>
            <span class="letter letter-O"></span>
            <span class="letter letter-L"></span>
            <span class="letter letter-U"></span>
            <span class="letter letter-T"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-O"></span>
            <span class="letter letter-N"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-Z"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-N"></span>
            <span class="letter letter-G"></span>
            <span class="letter letter-blank"></span>
            <span class="letter letter-A"></span>
            <span class="letter letter-I"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-blank"></span>
            <span class="letter letter-T"></span>
            <span class="letter letter-R"></span>
            <span class="letter letter-A"></span>
            <span class="letter letter-V"></span>
            <span class="letter letter-E"></span>
            <span class="letter letter-L"></span>
        </div>
        <!-- <div class="row"> -->
        <p class="text-center">By: Amanda Mah Xiu Min, Jeff So Weh Keat, Keith Chan Yong Kit, Lim Ren Kee, Oh Wen Hai
        </p>
        <!-- </div> -->
        <div class="mt-3 p-0">
            <div class="row m-3">
                <div class="col-6">
                    <button @click="showDiv('divA')" class="btn btn-secondary w-100 pt-2 pb-2">Introduction</button>
                </div>
                <div class="col-6">
                    <button @click="showDiv('divB')" class="btn btn-secondary w-100 pt-2 pb-2">Motivations</button>
                </div>
            </div>
            <div v-if="currentDiv === 'divA'">
                <div class="card">
                    <h2 class="card-title text-center">Introduction</h2>
                    <div style="display: flex; justify-content: center; align-items: center; ">
                        <img src="./images/airport.png" class="card-img-top" alt="..." style="width: 40%;">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Air travel has seen many transformations over the decades. From the rise of
                            in-flight entertainment, to heightened security measures from the effects of the 11
                            September 2001 attacks to the popularity of long-haul flights, these are some of the dynamic
                            changes that the air travel industry faced, partly because of the changing passengers’
                            needs. The recent COVID-19 pandemic is of no difference. It has changed the passengers’
                            preference to flight experiences, with a much significant emphasis on health and safety.
                            <br><br>
                            This paradigm shift not only underscores the adaptability of the aviation industry but also
                            raises questions about the future of travel in a world forever altered by the pandemic.
                        </p>
                    </div>
                </div>
            </div>
            <div v-if="currentDiv === 'divB'">
                <div class="card">
                    <h2 class="card-title text-center">Motivation</h2>
                    <div style="display: flex; justify-content: center; align-items: center; ">
                        <img src="./images/airport-motivation.gif" class="card-img-top" alt="..." style="width: 60%;">
                    </div>

                    <div class="card-body">
                        <p class="card-text">
                            The motivation behind this research endeavour lies in the profound impact that evolving
                            passenger
                            preferences have on the air travel industry and, ultimately, on the travel experiences of
                            millions
                            worldwide. With each passing year, the industry witnesses shift in priorities, influenced by
                            factors
                            ranging from technological advancements to global events like the COVID-19 pandemic.
                            Understanding
                            these shifts is vital for airlines, airports, and travellers alike. For airlines and
                            airports, it
                            means aligning their services and offerings with the evolving needs of their clientele. For
                            travellers, it means making informed decisions that prioritize their safety, comfort, and
                            overall
                            satisfaction.
                            <br><br>
                            This dashboard seeks to address this critical intersection between passenger preferences and
                            the aviation industry's strategies. By providing a comprehensive visualization that unravels
                            these shifts over time, we empower travellers with invaluable insights to make well-informed
                            decisions and develop contingency plans when booking their next flight. In a world where air
                            travel plays an increasingly integral role, this research serves as a beacon, guiding both
                            industry stakeholders and passengers towards a more seamless and tailored travel experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- PASSENGER DEMOGRAPHIC DIV -->
        <div class="card passenger-demographic p-3 mt-3">
            <h3>Passenger Demographics</h3>
            <br>
            <div class="row">
                <h6 class="mb-3 bg-warning text-center fw-bold rounded p-1">Analysing Flight Class by Age </h6>
                <br>

                <!-- FOR BAR CHART -->
                <div class="row mx-auto">

                    <div class="col-6 chart-container">
                        <svg id="bar-chart"></svg>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-6" id="piechartone">

                                <div class="row d-flex justify-content-center">
                                    Age Range:
                                    <select class="form-select" id="ageBinDropdown_one">
                                        <option selected value="0-9">0-9</option>
                                        <option value="10-19">10-19</option>
                                        <option value="20-29">20-29</option>
                                        <option value="30-39">30-39</option>
                                        <option value="40-49">40-49</option>
                                        <option value="50-59">50-59</option>
                                        <option value="60-69">60-69</option>
                                        <option value="70-79">70-79</option>
                                        <option value="80+">80+</option>
                                    </select>
                                </div>
                                <div id="chart_one"></div>
                            </div>

                            <!-- SECOND PIE CHART -->
                            <div class="col-6" id="piecharttwo">
                                <div class="row d-flex justify-content-center">
                                    Age Range:
                                    <select class="form-select" id="ageBinDropdown_two">
                                        <option value="0-9">0-9</option>
                                        <option selected value="10-19">10-19</option>
                                        <option value="20-29">20-29</option>
                                        <option value="30-39">30-39</option>
                                        <option value="40-49">40-49</option>
                                        <option value="50-59">50-59</option>
                                        <option value="60-69">60-69</option>
                                        <option value="70-79">70-79</option>
                                        <option value="80+">80+</option>
                                    </select>
                                </div>
                                <div id="chart_two"></div>
                            </div>


                            <div class="mt-2 d-flex justify-content-center">
                                <button class='btn btn-primary btn-sm' id="toggleDisplayButton">Display Percentage</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- For Analysis Text-->
                <div class="row mx-auto">

                    <h6 class="mt-3 mb-2 bg-dark text-center text-white fw-bold rounded p-1 mx-auto">View Our Analysis
                    </h6>


                    <div class="card card-body">

                        We can see that majority of the passengers are generally within the age range of 20 to 59, with
                        a
                        minority under 20 and above 60. Analysing this data further, we can also see that flight economy
                        class takes up majority of the travel for passengers below the age of 30. However, for
                        passengers aged 30 to 59, we can observe a sharp increase in the portion of business to economy
                        flights taken.
                        <br><br>
                        We conducted a more in-depth analysis using the comparative method to get better insights on
                        more specific information from the previous side-by-side bar chart. In this analysis, we
                        displayed two pie charts side by side. When we compare the distribution of flight classes among
                        individuals aged 20-29 and those aged 40-49, a substantial disparity in the preference for
                        Business Class over Economy Class becomes evident. Among travelers in the 20-29 age group,
                        merely 40% of them opt for Business Class flights. This percentage significantly rises to 61%
                        for passengers in the 40-49 age group who choose Business Class flights.
                    </div>
                </div>
            </div>

            <div class="row">

                <h6 class="mb-2 mt-3 bg-warning text-center fw-bold rounded p-1">Analysing Gender Distribution by Age
                </h6>

                <div class="row p-2">

                    <!-- FOR HEAT MAP -->
                    <div class="col-6 heatmap-container">
                        <div id="heatmap"></div>
                    </div>
                    <div class="col-6">

                        <!-- For Analysis Text-->
                        <div class="row mx-auto">

                            <h6 class="mb-3 bg-dark text-center text-white fw-bold rounded p-1">View Our Analysis
                            </h6>
                            <div class="card card-body">

                                The heatmap provides a clear depiction of our passenger distribution, showing that the
                                majority of passengers are concentrated in the 20-59 age range, with the largest segment
                                falling within the 40-49 age bracket.
                                <br><br>While scrutinizing the heatmap, we observed that
                                the ratio of male to female passengers remains relatively consistent across various age
                                groups, as evidenced by the similar shading in the left column (representing males) and
                                the right column (representing females).
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">

                <h6 class="mb-2 mt-3 bg-warning text-center fw-bold rounded p-1">Analysing Travel Trends Over Month/Year
                </h6>
                <div class="row p-2">

                        <div class='tableauPlaceholder' id='viz1699280142963' style='position: relative'><noscript><a
                                    href='#'><img alt='Dashboard 1 '
                                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tr&#47;TravelTrendDashboard&#47;Dashboard1&#47;1_rss.png'
                                        style='border: none' /></a></noscript><object class='tableauViz'
                                style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='TravelTrendDashboard&#47;Dashboard1' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image'
                                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tr&#47;TravelTrendDashboard&#47;Dashboard1&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='language' value='en-GB' />
                                <param name='filter' value='publish=yes' />
                            </object></div>

                    <div class="row mt-2 mx-auto">
                        <!-- For Analysis Text-->

                        <h6 class="mb-3 bg-dark text-center text-white fw-bold rounded p-1">View Our Analysis
                        </h6>


                        <div class="card card-body">

                            We observe a gradual upsurge in the number of flights taken from February to May,
                            followed by a notable spike in June and July. This surge could potentially be linked to
                            events such as the summer holidays, during which families tend to embark on overseas
                            trips together.
                            <br><br>
                            There is a significant decrease in the number of travelers from 2019 to 2020, observable
                            across all months. This decline can likely be attributed to the
                            onset of the COVID-19 pandemic in 2019. Furthermore, we note that the passenger travel
                            pattern for a specific month remains largely consistent over multiple years (can be
                            observed using the Viz in Tooltip).
                            <br><br>
                            Throughout the year, traveler numbers follow a consistent order, with 'Solo Leisure'
                            travelers as the most frequent, followed by 'Couple Leisure' and 'Family Leisure'
                            travelers, while 'Business' travelers are the least common. However, an
                            unusual increase in the number of 'Family Leisure' travelers occurs in June and July,
                            surpassing even the 'Couple Leisure' category during this specific period. This
                            deviation aligns with our previous onservation, suggesting that the surge in travel
                            during June
                            and July may be influenced by events like summer holidays, leading families to travel
                            abroad together.

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- PASSENGER SATISFACTION DIV -->
        <div class="card passenger-satisfaction p-3 mt-3">
            <h3>Passenger Satisfaction</h3>
            <br>
            <div class="row">

                <h6 class="mb-3 bg-warning text-center fw-bold rounded p-1">Passenger Satisfaction Dashboard</h6>
                <div class="row mx-auto">

                    <h6 class="mb-3 bg-dark text-center text-white fw-bold rounded p-1">View Our Analysis</h6>


                    <div class="card card-body">

                        Passengers’ satisfaction is crucial in providing improvements to airlines, leading to better
                        service and efficiency. A dashboard is thus generated to provide in-depth analysis based on age
                        and passenger segment.
                        <br><br>
                        From the Pie Chart Matrix, Business Class passengers show a high level of satisfaction across
                        different flight categories. Notably, 77.80% of Business Class passengers on long-haul flights
                        report being satisfied.
                        <br><br>
                        In contrast, Economy Class passengers, especially those on long-haul flights, appear to be the
                        least satisfied. A significant 90.32% of Economy Class passengers on long-haul flights report
                        being neutral or dissatisfied. This may be attributed to the extended duration of long-haul
                        flights in Economy Class, potentially leading to passenger discomfort.
                        <br><br>
                        From the treemap, passengers aged 40 to 49 make up the bulk of the passengers’ and are generally
                        satisfied. While passengers aged 60 to 69 is of a smaller group size, majority of the passengers
                        within this age group are neutral or dissatisfied. Airlines may consider looking into improving
                        the needs of passengers in this age group, given that this senior citizens’ age group might have
                        different set of passenger needs compared to passengers from the younger group.
                        <br><br>
                        Piecing the charts together, we noted that passengers aged 40-49 are the biggest age group in
                        general. This age group is also the biggest group of 90.32% neutral or dissatisfied passengers
                        from the earlier analysis. This finding is significant as the size of this age group
                        means that their level of satisfaction or dissatisfaction can significantly influence the
                        overall passenger satisfaction rating. Therefore, airlines should prioritize addressing the
                        needs and concerns of this specific passenger segment.
                    </div>
                </div>
                <div class="row mt-3">

                    <div class='tableauPlaceholder' id='viz1698669550215' style='position: relative'><noscript><a
                                href='#'><img alt='Passenger Satisfaction '
                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;PassengerSatisfaction_16986690189030&#47;PassengerSatisfaction&#47;1_rss.png'
                                    style='border: none' /></a></noscript><object class='tableauViz'
                            style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='PassengerSatisfaction_16986690189030&#47;PassengerSatisfaction' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image'
                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;PassengerSatisfaction_16986690189030&#47;PassengerSatisfaction&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='language' value='en-US' />
                            <param name='filter' value='publish=yes' />
                        </object>
                    </div>
                </div>
            </div>
        </div>

        <div class="card airline-delay p-3 mt-3">
            <h2>Airline Delay</h2>
            <br>
            <div class="row">
                <h6 class="mb-3 bg-warning text-center fw-bold rounded p-1">Flight Delays by Continent</h6>

                <div class="row">
                    <div class="col-6">

                        <!-- For Analysis Text-->
                        <div class="row mx-auto">

                            <h6 class="mb-3 bg-dark text-center text-white fw-bold rounded p-1">View Our Analysis
                            </h6>
                            <div class="card card-body">
                                In this chart, a discernible global trend among passengers highlights a clear preference
                                for
                                destinations in North America or Asia.
                                Notably, North America takes the lead with the highest number of diverse flight
                                statuses,
                                closely followed by Asia.
                                Surprisingly, Oceania emerges as the third most favoured destination, presenting a
                                noteworthy
                                pattern ahead of Europe.
                                Meanwhile, Africa and South America exhibit comparable performance across various flight
                                statuses, securing their positions towards the end of the list.
                                <br><br>
                                An intriguing observation is the relatively even distribution of flight statuses within
                                each
                                continent, emphasising the diverse choices available to travellers across the world.
                                With that, our team has decided to dive deeper to explore the flight delays in the
                                United
                                States.
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div id="chart-container" class="text-center">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <h6 class="mb-3 bg-warning text-center fw-bold rounded p-1">Flight Delay Dashboard</h6>

                <!-- For Analysis Text-->
                <div class="row mx-auto">

                    <h6 class="mx-auto bg-dark text-center text-white fw-bold rounded p-1">View Our Analysis</h6>


                    <div class="card card-body">
                        The dashboard provides a comprehensive overview of airline performance, flight delays across
                        U.S.
                        states, and temporal trends. In terms of airline performance, Southwest Airlines Co. leads with
                        a
                        significant 15.92% of the total flight delay count, followed closely by American Airlines Inc.
                        and
                        Delta Air Lines Inc. The flight delays across U.S. states reveal substantial variations, with
                        Texas
                        experiencing the highest delays at 42,559,790, while states like Delaware and Vermont show
                        minimal
                        delays.
                        <br><br>
                        The flight delays over time depict the impact of the COVID-19 pandemic, with a noticeable
                        decline in 2020 and a subsequent increase in 2021 and 2022 as air travel resumed. Reasons for
                        flight
                        delays highlight carrier and late aircraft delays as prominent contributors, with fluctuations
                        in
                        weather and National Aviation System delays. Notably, the average carrier delay minutes declined
                        in
                        2020, reflecting the pandemic's influence, but increased in 2021 and 2022 as travel demand
                        rebounded. Overall, the dashboard offers a detailed perspective on airline operational
                        performance,
                        regional variations in delays, temporal trends, and the factors influencing flight delays in the
                        United States.
                    </div>
                </div>
                <div class="row">
                    <div class='tableauPlaceholder' id='viz1699255013357' style='position: relative'><noscript><a
                                href='#'><img alt='Dashboard 1 '
                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;pr&#47;proj_16992528085130&#47;Dashboard1&#47;1_rss.png'
                                    style='border: none' /></a></noscript><object class='tableauViz'
                            style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='proj_16992528085130&#47;Dashboard1' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image'
                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;pr&#47;proj_16992528085130&#47;Dashboard1&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='language' value='en-US' />
                            <param name='filter' value='publish=yes' />
                        </object>
                    </div>
                </div>


            </div>

            <div class="row">

                <h6 class="mb-3 bg-warning text-center fw-bold rounded p-1">Weather Delays by Month/Year</h6>
                <!-- For Analysis Text-->
                <div class="row mx-auto">

                    <h6 class="mb-3 bg-dark text-center text-white fw-bold rounded p-1">View Our Analysis</h6>
                    <div class="card card-body">
                        Focusing on weather delays that are largely uncontrollable by the aircraft carriers, we can
                        observe that majority of the airline carrier fall within a range of 0 to 10,000 minutes of
                        delays a month, with a couple of the airlines displaying out of the norm delays from 18,000
                        to
                        28,000 minutes of delays a month. One relationship we can observe from this bubble chart is
                        that
                        as the number of delays increases, the longer the delays, in minutes, for that month. We can
                        also observe that those with the higher number of delays tend to belong to the same group of
                        airlines throughout the years. It is interesting to note that majority of the airlines were
                        able
                        to keep the number of delays, due to weather, at largely within the same range of one
                        another,
                        suggesting that they could have better planning compared to the carriers with constant large
                        number of delays, or are located in locations with generally favourable weather conditions.
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <svg class="chart" style="width:100%;"></svg>
                    </div>
                </div>

            </div>
        </div>


        <div class="card airline-review p-3 mt-3">
            <h3>Airline Infographics</h3>

            <div class="row">
                <h6 class="mb-3 mt-3 bg-warning text-center fw-bold rounded p-1">Airline Infographics Dashboard</h6>
                <!-- For Analysis Text-->
                <div class="row mx-auto">

                    <h6 class="mb-3 bg-dark text-center text-white fw-bold rounded p-1">View its Usage</h6>

                    <div class="card card-body">
                        This dashboard exemplifies the practical application of an airline rating system, offering users
                        a comprehensive array of factors to consider when making their flight booking decisions. These
                        include insights into traveller proportions and seat types, along with scores for crucial
                        considerations. Additionally, the dashboard highlights the top destination of other passengers to help customers
                        to factor into their decision-making process. It is further equipped with user-friendly features
                        like date range selection, allowing users to assess the airline's performance over specific time
                        periods. Moreover, the ability to select and compare ratings with other carriers in the dataset
                        enhances the dashboard's functionality and utility for users.
                    </div>

                </div>

                <!-- Chart -->
                <div class="row mt-3">
                    <div class='tableauPlaceholder' id='viz1699367958647' style='position: relative'><noscript><a
                                href='#'><img alt='Airline Dashboard '
                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ai&#47;Airline_review&#47;AirlineDashboard&#47;1_rss.png'
                                    style='border: none' /></a></noscript><object class='tableauViz'
                            style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='Airline_review&#47;AirlineDashboard' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image'
                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ai&#47;Airline_review&#47;AirlineDashboard&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='language' value='en-US' />
                        </object></div>
                </div>

            </div>
        </div>

        <div class="card mt-3 p-3">
            <h3>Conclusion</h3>
            <div class="card card-body">
                <p class="card-text">
                    The analysis of our visualisation had identified the following opportunities for aviation industry
                    to enhance their services and optimise operations strategies:
                    <br><br>

                    <b>Improving Economy Class Offerings and Maintenance in June and July </b>
                    <br>
                    In the period of June to July on a yearly basis, the visualisation depicts a substantial increase in
                    the number of Economy Class bookings. The Passengers Satisfaction dashboard had also supported that
                    this passenger segment is least satisfied on short and medium haul flights. By focusing on improving
                    the quality of Economy Class, during this peak travel period, airlines may strategically leverage it
                    to enhance the experience of this large customer base, leading to an increase in passengers’ overall
                    rating.
                    <br><br>

                    <b>Family-Centric Travel Packages for Popular Destinations </b>
                    <br>
                    On top of the increase in Economy Class Bookings in June and July, it was also observed that there
                    is a substantial increase in family travellers. In response, airlines may create family packages for
                    flights to popular destinations. The packages will not only help airlines streamline its booking
                    process, but also greater control in standardising in-flight services and amenities provided. By
                    reducing the need for individualised requests, airlines can increase efficiency and deliver a
                    consistent, high-quality travel experience to families, leading to an increased customer
                    satisfaction.
                    <br><br>
                    Taking these insights into consideration will provide opportunities for airlines to plan out
                    operational strategies, adapt and evolve to meet the changing needs of travellers, creating a
                    memorable, and satisfying flying experience.
                </p>
            </div>
        </div>
    </div>
    <!-- [Main App] end-container-->

    <!-- DO NOT REMOVE
         REFERENCE TO LOCAL EXTERNAL JAVASCRIPT
     -->
    <script src="index.js"></script>
    <script src="flightClass.js"></script>
    <script src="classByAge.js"></script>
    <script src="flightStatusByContinent.js"></script>
    <script src="gender_by_age.js"></script>

</body>

</html>